<div class="shopping-list">
  <h2 class="section-title">Generate Shopping List</h2>
  <div class="shopping-list-summary">
    <div class="summary-item">
      <p>Amount of food items to buy: <%= @required_foods.count %></p>
    </div>
    <div class="summary-item">
      <p>Total Value of food needed: <%= number_to_currency(@total_value) %></p>
    </div>
  </div>

  <h3 class="section-subtitle">Required Food Items</h3>
  <table class="shopping-list-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Measurement Unit</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @required_foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= number_to_currency(food.price * food.quantity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Back to Recipe', recipe_path(@recipe), class: 'back-button' %>
</div>
