<div class="recipe-index">
  <h1 class="section-title">Public Recipes</h1>

  <div class="recipe-list">
    <% @public_recipes.each do |recipe| %>
      <div class="recipe-card">
        <div class="recipe-details">
          <h2 class="recipe-name"><%= recipe.name %></h2>
          <p class="recipe-author">By: <%= recipe.user.name %></p>
        </div>
        <div class="recipe-stats">
          <p class="recipe-info">Total Food Items: <%= @total_food_items %></p>
          <p class="recipe-info">Total Price: $<%= @total_price %></p>
          <a href="<%= recipe_path(recipe) %>" class="view-details-button">View Details</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
