<div class="recipe-index">
<h1>Add New Food</h1>
<%= form_with(model: @food, url: foods_path) do |form| %>
  <div class="field form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  
   <div class="field form-group">
    <%= form.label :measurement_unit, style: "display: block"%>
    <%= form.text_field :measurement_unit %>
  </div>

   <div class="field form-group">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div class="field form-group">
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>
    <br>
  <div class="actions">
    <%= form.submit 'Add Food', class: "btn btn-secondary"%>
  </div>
<% end %>
</div>
