<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'recipe' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
    <script>
      document.addEventListener('turbo:load', function () {
          const menuButton = document.querySelector(".menu-button");
          const menu = document.querySelector(".mobile-menu");
          const closeButton = document.querySelector('.close-button');
          function openMenu() {
            menu.classList.add('open');
            menuButton.style.display = 'none';
            closeButton.style.display = 'block';
          }

          function closeMenu() {
            menu.classList.remove('open');
            closeButton.style.display = 'none';
            menuButton.style.display = 'block';
          }
          menuButton.addEventListener('click', openMenu);
          closeButton.addEventListener('click', closeMenu);
        });
    </script>
  </head>

  <body>

  <%= render "home/header" %>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
